---
Language: Cpp
Standard: c++20
BasedOnStyle: Google

ColumnLimit: 80
ReflowComments: true

UseTab: ForIndentation
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4

BreakBeforeBraces: Allman
NamespaceIndentation: None
FixNamespaceComments: true

IndentAccessModifiers: true
IndentCaseLabels: true
EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never

SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
KeepEmptyLinesAtEOF: false
InsertNewlineAtEOF: true
LineEnding: LF

PointerAlignment: Right
ReferenceAlignment: Pointer
DerivePointerAlignment: false
QualifierAlignment: Custom
QualifierOrder: ['static', 'inline', 'constexpr', 'const', 'volatile', 'type']

SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeCpp11BracedList: false

BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
AlignOperands: Align
AlignAfterOpenBracket: Align

RemoveParentheses: Leave

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: true

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty

IncludeBlocks: Regroup
SortIncludes: CaseSensitive
IncludeIsMainRegex: '([-_](test|unittest))?$'
IncludeCategories:
  - Regex: '^<ext/.*\.h>'
    Priority: 2
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<.*'
    Priority: 2
  - Regex: '.*'
    Priority: 3

SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
SpacesBeforeTrailingComments: 2

IndentPPDirectives: None
